<div class="container text-center">
    <div class="well">
        

        <h1>About TutorFind</h1><br/>
        <h4>We provide a platform for Tutors, Students and educational institutions to get together and find a suitable match.</h4>
        <h4>Sign up for our community and open up a profile to get started.</h4>
    </div>
</div>