/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

// Fonts from google fonts
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

// Background gradients
.navbar, .home-callout {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

// Navigation bar Style
.navbar {
    border: none;
    font-size: 15px;
    //padding-bottom: 8px;
    //padding-top: 8px;
    margin-bottom: 8px;
}

.title {
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
    
    &:hover, &:focus {
        background-color: #ff6a00;
    }
}

// Background image bottom of page
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://imgur.com/ear9KJv.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Home page navbar layout
.home-callout {
    margin-top: -8px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    //background: lightcoral;
}

// center headline text
.home-headline {
    background: rgba(255, 255 ,255, 30%);
    padding: 15px;
    margin-left: 20%;
    width: 60%;
    margin-top: 1px;
    margin-bottom: 15px;
    padding-top: 27px;
    padding-bottom: 34px;
}
.home-headline .h1 {
    text-size: 46px;
}

// Home Page buttons
.home-signup-links .well {
    border-radius: 37px;
    background-color: #e6e4e382;
}
.home-signup-links .btn {
    width: 70%;
    margin: auto;
}
.home-signup-links {
    margin-top: 30px;
    color: black;
}

// Flash alert messages
.flash-container {
  position: absolute;
  width: 100%;
  margin: auto;
  display: inline-block;
}
.alert-notice, .alert-alert {
  text-align: center;
  //background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
  color: black;
  background: rgba(255, 255, 255, 86%);
}

.flash-container .alert {
    margin: auto;
    width: 20%;   
}

// Home carousel
// .carousel-inner img {
//     width: 100%;
// }

// .carousel-align-center {
//     width: fit-content;
//     margin: auto;
// }

#footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    max-height: 100px;
    padding: 0;
    height: 30px;
    min-height: 0;
}

#footer .navbar-brand {
    padding: 0px;
    color: white;
}
.footer-logo {
    color: white;
    font-size: 17px;
    padding: 5px;
}

.img-home {
    width: 25%;
    margin: auto;
}

.home-signup-links .btn-home-bottom {
    margin-top: 5%;
    width: 34%;
}

// What We Offer section

.offer-section {
    margin-top: 50px;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }