// Profile image
.avatar-show-img {
    width: 176px;
    height: 176px;
    margin: 30px;
    border-radius: 70%;
}

// Profile edit button
.col-md-3 .profile-edit-btn {
    margin: auto;
    width: 70%;
    //background-color: black;
    
}

// Profile description page
.job-title-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    //border: 2px solid #2e6da4;
    border-radius: 4px;
    //background-color: #337ab7;
    color: black;
    text-align: center;
}

.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #f94a28e0;
}

.well.profile-contact-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

// Users index page
.user-index-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

// Diff background color for index page
.well.white-bg {
    background-color: white;
}

.well.orange-bg {
    background-color: #ffcccc8a;
}
.well.index-page-well {
    margin: 3%;;
}

.users-index-container {
    margin-top: 20px;
}

// About page
.about-page .well {
    margin-top: 20px;
}

// Log in page
.log-in .well {
    margin-top: 20px;
}